/badminton.jpg
/CnthPraktikum1PDW.html
/coba.html
/Exec1
/image
/PDWGhani.css
/Praktikum1.PDW.html
/Praktikum2.PDW.html
/Praktikum3PDW.html
/Praktikum4
/Praktimuk5
/script.js
/Tugas 6
/tugas3.js
/tugas_3.css